<% if @topping.errors.any? %>
    <%= render "errors"%>
<% end %>

<div class="form">
    <%= form_with model: topping do |form| %>

    <div class="field">
        <h4><%= form.label :name%></h4>
        <%= form.text_field :name%>
    </div>
    <div class="field">
        <%= form.submit%>
    </div>
    <%= link_to "Nevermind", toppings_path, class: "nvm-btn"%>
    
<% end %>
</div>