<% if @pizza.errors.any? %>
    <%= render "errors"%>
  <% end %>

<div class="form">
  <%= form_with model: pizza do |form| %>

    <div class="field">
        <h4><%= form.label :name%></h4>
        <%= form.text_field :name%>
    </div>

    <div class="field">
      <h4><%= form.label "Toppings"%></h4>
      <%= form.collection_check_boxes :topping_ids, Topping.all, :id, :name %>
    </div>
    

    <div class="field">
        <%= form.submit%>
    </div>
    <%= link_to "Nevermind", pizzas_path, class: "nvm-btn"%>
  <% end %>
</div>